{% extends  "blog/admin_parent.html" %}
 {% load static %}
 {% block title %} Add Article{% endblock %}
 {% block content %}
	<div class='col-sm-12 col-md-12 col-lg-12'>
		<hr class='purple'/>
		<form action="{% url 'add_article' %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
			<center>
					<div class='col-sm-12 col-md-8 col-lg-6 showback'>
						<h2 class='mr-auto'>Add Article</h2>
						<p><b>Fill in the required fields and click Add Article button.</b></p>
						
						<label> Title :<span style='color:red'>{{form.title.errors}}</span></label>
						{{form.title}}
						
						<label> Context Image :<span style='color:red'>{{form.context_image.errors}}</span></label>
						<input type="file" class='btn btn-sm btn-default purple' name="context_image" required  accept="image/*" id="id_context_image"/>
						
						<label> Description : <span style='color:red'>{{form.description.errors}}</span></label>
						{{form.description}}
						
						<label> Body :<span style='color:red'>{{form.body.errors}}</span></label>
						{{form.body}}
						
						<label> Active :<span style='color:red'>{{form.active.errors}}</span></label>
						{{form.active}}
						
						<label> Audience :<span style='color:red'>{{form.audience.errors}}</span></label>
						{{form.audience}}
						
						<button type='submit' class='btn btn-md btn-success'>Add Article</button>
						<a href='/blogify/articles/' class='btn btn btn-md grey'>Back</a>
						</div>
			</center>
		</form>
		
	</div>
 {% endblock %}