{% extends  "blog/parent.html" %}
 {% load static %}
{% block navbar %}
		 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="https://mdbootstrap.com/angular/components/#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link waves-effect waves-light" href="https://mdbootstrap.com/angular/components/#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="https://mdbootstrap.com/angular/components/#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="https://mdbootstrap.com/angular/components/#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown 
                                </a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/angular/components/#">Action</a>
                                    <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/angular/components/#">Another action</a>
                                    <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/angular/components/#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline waves-effect waves-light">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </form>
                    </div>
                </nav>
                <!--/.Navbar blue-->
{% endblock %}
		
				
{% block content %}

{% endblock %}